<!DOCTYPE html>
<html>

<head>
    <meta charset = "utf-8">
    <title>twatbook</title>
    <link rel="icon" type="image/png" href="../assets/images/favicon.ico">

    <!-- *** Links & CDNs *** -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway+Dots|Varela+Round&display=swap"
        rel="stylesheet">
    <script src="handlebars-v4.1.2.js"></script>
</head>

<nav class="navbar navbar-dark bg-dark">
    <img src="../assets/images/twat-icon.png" style="width: 2%;">
    <a class="title navbar-brand"
        style="color: white; font-family: 'Varela Round', sans-serif; position: fixed; left: 4%;">twatbook</a>

</nav>

<body>
{{{body}}}
</body>

</html>