<!DOCTYPE html>
<html>

<head>
    <meta charset = "utf-8">
    <title>twatbook</title>
    <link rel="icon" type="image/png" href="../assets/images/favicon.ico">

    <!-- *** Links & CDNs *** -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <link type="text/css" rel="stylesheet" href="../css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway+Dots|Varela+Round&display=swap"
        rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img id="logo" src="../assets/images/twat-icon.png" href="/" style="width: 2%;">
    <a class="navbar-brand title" href="/" style="margin-left: 5px;">twatbook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Join Us!
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><button type="button" class="btn btn-block title" data-toggle="modal" data-target="#bd-login-modal-lg">Log In</button></a>
                <div class="dropdown-divider bg-dark"></div>
            <a class="dropdown-item" href="#"><button type="button" class="btn btn-block title" data-toggle="modal" data-target="#bd-signup-modal-lg">Sign Up</button></a>
                <div class="dropdown-divider bg-dark"></div>
            <a class="dropdown-item" href="#"><button type="button" class="btn btn-block title" data-toggle="modal" data-target="#bd-twerp-modal-lg"><img src="../assets/images/postico.png" class="dropdownicon">Twerp</button></a>
        </div>
      </li>

    </ul>

  </div>
</nav>

<body>
            <div class="modal fade" id = "bd-login-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <h5 class="modal-title bg-dark title mod-marg">Log in</h5>
                        <div>
                            <form class="clearfix mb-4" action="">
                                <div class="form-group">
                                    <label for="username-login" class="form-text">Username</label>
                                    <input type="text" id="username-login" class="form-control" aria-describedby="ThanosCar" placeholder="Enter Username Here">
                                </div>
                                <div class="form-group">
                                    <label for="password-login" class="form-text">Password</label>
                                    <input type="text" id="password-login" class="form-control" aria-describedby="bigcat123" placeholder="Enter Password Here">
                                </div>
                                <button id="btn-login" class="btn btn-outline-drk float-right round">Log In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id = "bd-signup-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <h5 class="modal-title bg-dark title mod-marg">Sign Up</h5>
                        <div>
                            <form class="clearfix mb-4" action="">
                                <div class="form-group">
                                    <label for="username-form" class="form-text">Username</label>
                                    <input type="text" id="username-form" class="form-control" aria-describedby="ThanosCar" placeholder="Enter Username Here">
                                </div>
                                <div class="form-group">
                                    <label for="password-form" class="form-text">Password</label>
                                    <input type="text" id="password-form" class="form-control" aria-describedby="bigcat123" placeholder="Enter Password Here">
                                    <label for="repassword-form" class="form-text">Re-Enter Password</label>
                                    <input type="text" id="repassword-form" class="form-control" aria-describedby="bigcat123" placeholder="Re-Enter Password Here">
                                </div>
                                <button id="btn-signup" class="btn btn-outline-drk float-right round">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id = "bd-twerp-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <h5 class="modal-title bg-dark title mod-marg">Twerp It Up</h5>
                        <div>
                            <form class="clearfix mb-4" action="">
                                <div class="form-group">
                                    <label for="author-form" class="form-text">Author</label>
                                    <input type="text" id="author-form" class="form-control" aria-describedby="ThanosCar" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <label for="twerp-form" class="form-text">Twerp</label>
                                    <textarea id="twerp-form" class="form-control" aria-describedby="bigcat123" placeholder="Write your thoughts here"></textarea>
                                </div>
                                <button id="btn-twerp" class="btn btn-outline-drk float-right round">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{{{body}}}
</body>

<button type="button" class="btn btn-feed btn-link" data-toggle="tooltip" data-placement="top" title="Messages"><img src="../assets/images/feedico.png" id="feedico"></button>
<button type="button" class="btn btn-friend btn-link" data-toggle="tooltip" data-placement="top" title="Friends"><img src="../assets/images/friendico.jpg" id="friendico"></button>
</html>