.round{
    font-family: 'Varela Round', sans-serif;
}

.title {
font-family: 'Varela Round', sans-serif; 
color: white
}

h5 {
    font-family: 'Varela Round', sans-serif; 
    color: white;
}

.mod-marg{
    padding-left: 5px;
    padding-right: 5px;
}

.form-text{
    font-family: 'Varela Round', sans-serif; 
    padding-left : 5px;
}

.row{
    margin-top: 8px;
}

.twerpitup{
    width: 10%;
    position: fixed;
    left: 12px;
    bottom: 12px;
}